.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.eventTitle {
  font-weight: bold;
  font-size: 3rem;
}

.eventTitle p {
  font-size: 1.9rem;
  text-transform: uppercase;
  margin: .8rem 0 1.6rem 0;
}

.eventTitle p span {
  font-weight: normal;
  text-transform: none;
}

.container {
  display: flex;
  gap: 4rem;
  /* align-items: flex-start; */
  max-width: 85vw;
}

.container img {
  width: 400px;
  height: 400px;
}

.eventDescription {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.8rem;
  flex: 1;
}

.eventDesTop {
  width: 80%;
  display: flex;
  justify-content: space-between;
  /* gap: 6vw; */
  font-weight: bold;
}

.eventLinkBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 1rem;
}

.cta {
  font: inherit;
  color: white;
  padding: .6rem 1.2rem;
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
}