.login-body {
  border: 2px solid red;
}
.login {
  border: 2px solid green;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 20px;
}

.formHeading {
  font-size: 36px;
}

.RegisterFormWrapper {
  display: flex;
  align-items: center;
}

.formLineBlock {
  width: 30%;
}

.mail {
  width: 100%;
}

.btn {
  width: auto;
  margin-top: 0;
  margin-left: 10px;
}

.Already {
  font-size: 18px;
}

/* styles for mobile screens */
@media only screen and (max-width: 600px) {
  .RegisterForm {
    padding: 10px;
  }
  .formHeading {
    font-size: 24px;
  }
  .RegisterFormWrapper {
    flex-direction: column;
  }
  .formLineBlock {
    width: 100%;
  }
  .mail {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
  }
  .Already {
    font-size: 14px;
  }
}

/* styles for larger screens */
@media only screen and (min-width: 601px) {
  .RegisterForm {
    padding: 20px;
  }
  .formHeading {
    font-size: 36px;
  }
  .RegisterFormWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .formLineBlock {
    width: 50%;
  }
  .mail {
    width: 100%;
  }
  .btn {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
  }
  .Already {
    font-size: 18px;
  }
}

.RegisterForm {
  margin: 0 auto;
  width: 80%;
  min-height: 80vh;
  background: #0c0b20;
  border: 1.05682px solid #a3a3ab;
  box-shadow: -4px -4px 19px rgba(226, 227, 252, 0.12),
    4px 4px 18px rgba(226, 227, 252, 0.12);
  border-radius: 8px;
  padding: 0 2rem 1.5rem 2rem;
}

.formHeading {
  text-align: center;
  margin: 1.5rem 0;
  font-family: 'Galano Grotesque Bold';
  font-size: 2.5rem;
  color: #f3f3ff;
  text-shadow: -4px -4px 30px rgba(226, 227, 252, 0.4),
    4px 4px 30px rgba(226, 227, 252, 0.4);
}

.RegisterFormWrapper {
  width: 100%;
  display: flex;
  gap: 10rem;
  justify-content: space-around;
}

.RegisterFormWrapper img {
  width: 40%;
}

.RegisterFormWrapper form {
  /* margin-left: 12rem; */
  width: 60%;
}

.RegisterFormWrapper form .formLine {
  display: flex;
  width: 100%;
}

.RegisterFormWrapper form input,
.RegisterFormWrapper form select {
  padding: 0.5rem;
  background: #1f1d2e;
  backdrop-filter: blur(2.11364px);
  border-radius: 3px;
  margin: 0.4rem 0;
  outline: none;
}

.RegisterFormWrapper form .line1 input,
.RegisterFormWrapper form .line1 select {
  flex: 50%;
}

.RegisterFormWrapper form .line2 input {
  flex: 100%;
}

.RegisterFormWrapper form .line3 input {
  flex: 50%;
}

.RegisterFormWrapper form .line4 input {
  flex: 50%;
}

.RegisterFormWrapper form .line5 input,
.RegisterFormWrapper form .line5 select {
  flex: 50%;
}

.RegisterFormWrapper form .line6 input {
  flex: 50%;
}

.RegisterFormWrapper form .formLineBlock {
  display: flex;
  width: 80%;
  align-items: center;
}

.RegisterFormWrapper form .formLineBlock input {
  width: 80%;
}

.RegisterFormWrapper form .formLineBlock select {
  width: 50%;
}

.RegisterFormWrapper form input[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

.RegisterFormWrapper form button[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.4rem 1rem;
  margin: 1rem 0.4rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  width: 64%;
}

.RegisterFormWrapper form button.Already {
  /* font-weight: bold; */
  font-size: 0.8rem;
  text-decoration: underline;
  /* display: block; */
  text-align: center;
  margin-left: 10rem;
}

@media (max-width: 1100px) {
  .RegisterFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
  .RegisterFormWrapper form button.Already {
    margin-left: 15rem;
  }
}

@media (max-width: 800px){
  .RegisterFormWrapper form button.Already {
    margin-left: 8rem;
  }
}

@media only screen and (min-width: 601px) {
  .RegisterForm {
    padding: 20px;
  }
  .formHeading {
    font-size: 36px;
  }
  .RegisterFormWrapper {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
  }
 
  .formLineBlock {
    width: 50%;
  }
  .mail {
    width: 100%;
  }
  .btn {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
  }
  .Already {
    font-size: 18px;
  }
}
