.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2.6rem;
}

.navbar a {
  margin: 0 2rem;
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-text);
}


@media (max-width: 1000px) {
  .navbar a {
    margin: 0 1.5rem;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.logo {
  display: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hamburger,.logo{
    display: block;
  }
  .navbar{
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 1rem;
    align-items: flex-start;
    padding-right: 0;
    gap: 1rem;
    background: rgba(11, 10, 30, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.6px);
    -webkit-backdrop-filter: blur(8.6px);
    border: 1px solid rgba(11, 10, 30, 0.25);
    /* min-height: 100vh; */
  }
}
/* .bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  border-radius: 10px;
  transition: 0.4s;
}

.bar1Open {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.bar2Open {
  opacity: 0;
}

.bar3Open {
  transform: rotate(45deg) translate(-8px, -8px);
} */

.nav {
  display: flex;
  justify-content: space-between;
}

.navOpen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 0;
  width: 100%;
  height: 100%;
}

/* a {
  display: block;
  padding: 1rem;
} */

@media (max-width: 600px) {
  .hamburger {
    display: block;
  }
  .logo{
    display: block;
  }

  .nav {
    display: none;
  }

  .navOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* .a {
    width: 100%;
    text-align: center;
  } */
}
