/* .footer{
    position: relative;
    background: #0B0A1C;
    padding: 80px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 4rem;
  }
  .footercontainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer .footercontainer .sec .headtitle{
    margin-right: 30px;
  }
  .footer .footercontainer .sec .headtitle{
    width: 40%;
    position: relative;
  }
  .footercontainer .headtitle h2{
    position: relative;
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 43px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -4px -4px 19px rgba(226, 227, 252, 0.3), 4px 4px 18px rgba(226, 227, 252, 0.3);
  }
  .footer .headtitle p{
    font-weight: 400;
    margin-top: 25px;
    max-width: 430px;
    font-size: 1.1rem;
    line-height: 151.02%;
    color:#F3F3F3;
    margin-bottom: 50px;
  }
  .footercontainer .sec{
    margin-right: 30px;
  }
  .quicklinks{
    position: relative;
    width: 25%;
  }
  .footercontainer .sec h2{
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 43px;
    letter-spacing: 0.12em;
    color: #FFFFFF;
    text-shadow: -4px -4px 19px rgba(226, 227, 252, 0.3), 4px 4px 18px rgba(226, 227, 252, 0.3);
  }
  #quicklinks ul{
    margin-top: 25px;
  }
  #quicklinks ul li{
    list-style: none;
  }
  #quicklinks ul li a{
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1.1rem;
    display: inline-block;
  }
  #quicklinks ul li a:hover{
    color: #f3f3f3;
  }
  #contactdetails{
    width: calc(35% - 60px);
    margin-right: 0 !important;
  }
  #contactdetails p{
    position: relative;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 151.02%;
    color: #F3F3F3;
    margin-top: 25px;
  }
  .copyrighttext{
    width: 100%;
    background-color: #040315;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #FFFFFF;
  }
  .copyrighttext a{
    display: flex;
    align-items: center;
  }
  .copyrighttext a p{
    margin: 0 6px;
  }
  
  @media screen and (max-width: 1200px) {
    .copyrighttext p{
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 991px) {
    .footer{
      padding: 40px;
    }
    .footercontainer {
      flex-direction: column;
    }
    .footer .footercontainer .sec{
      margin-right: 0;
      margin-bottom: 0;
      margin-top: 40px;
    }
    .footercontainer .sec,.headtitle{
      width: 100%;
      position: relative;
    }
    #contactdetails{
        width: 60%;
      }
  }
  @media screen and (max-width: 756px) {
     .copyrighttext{
      width: 100%;
      padding: 20px 40px;
      text-align: center;
      justify-content: center;
     }
     .copyrighttext p{
        margin: 10px;
     }
     #contactdetails h2{
        font-size: 1.2rem;
      } 
      #contactdetails{
        width: 100%;
      }
  } */


  @font-face {
    font-family: 'Galano Grotesque medium';
    src: url('../assets/fonts/GalanoGrotesqueMedium.otf') format('truetype');
  }
  
  .footer {
    position: relative;
    padding-top: 2rem;
  }
  
  .footer .footerWrapper {
    background: #0B0A1C;
    display: flex;
    flex-direction: row;
    /* gap: 4rem; */
    padding: 2rem;
  }
  
  .footer .footerAbout {
    flex: 40%;
    display: flex;
    flex-direction: column;
  }
  
  .footer .footerEvents {
    flex: 30%;
  }
  
  .footer .footerContact {
    flex: 30%;
  }
  
  .footer .footerHeading {
    font-family: 'Galano Grotesque medium';
    font-size: 2rem;
    color: #FFFFFF;
    display: inline;
    margin-bottom: 2rem;
    text-shadow: -4px -4px 19px rgba(226, 227, 252, 0.3), 4px 4px 18px rgba(226, 227, 252, 0.3);
  }
  
  .footer .footerHeading img {
    width: 70%;
    /* position: absolute;
    bottom: 0%; left: 0; */
    /* width: 100%; */
  }
  
  .footer .footerCopyright {
    background: #040315;
    padding: 0rem 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .copyRight a {
    margin: 0 1rem;
  }
  
  .footer ul {
    margin-top: 2rem;
  }
  
  .footer li {
    margin: .4rem 0;
  }
  
  @media (max-width: 550px) {
  
    .footer {
      position: relative;
      padding-top: 2rem;
    }
  
    .footer .footerWrapper {
      flex-direction: column;
      gap: 2rem;
      padding: 1rem;
    }
  
    .footer .footerAbout {
      flex: 100%;
    }
  
    .footer .footerEvents {
      flex: 100%;
    }
  
    .footer .footerContact {
      flex: 100%;
    }
  
    .footer .footerHeading {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    .footer .footerCopyright {
      padding: .8rem 1rem;
      font-size: .7rem;
      /* flex-direction: column; */
      gap: 1rem;
      align-items: center;
      text-align: center;
    }
  
    .copyRight a {
      margin: 0 .6rem;
    }
  
    .footer ul {
      margin-top: 1rem;
    }
  
    .footer li {
      margin: .4rem 0;
    }
  }
  
  /* .heading {
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 43px;
    letter-spacing: 0.12em;
  } */
  
  /* .heading img {
    position: absolute;
    bottom: -1rem;
    left: 0;
    width: 110%;
  } */
  
  /* .about p {
    font-size: 21px;
    line-height: 151.02%;
    or 32px
  
  
    color: #F3F3F3;
  } */
  
  /* .events ul li {
    font-weight: 400;
    font-size: 20px;
    line-height: 144%;
    or 29px
  
  
    color: #FFFFFF;
  } */
  
  /* .contact ul li {
    font-weight: 400;
    font-size: 20px;
    line-height: 144%;
    or 29px
  
  
    color: #FFFFFF;
  } */