@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Squid+Games&display=swap');

@font-face {
  font-family: 'Galano Grotesque bold';
  src: url('../assets/fonts/GalanoGrotesqueBold.otf') format('truetype');
}
@font-face {
  font-family: 'Galano Grotesque Light';
  src: url('../assets/fonts/GalanoGrotesqueLight.otf') format('truetype');
}
@font-face {
  font-family: 'Galano Grotesque medium';
  src: url('../assets/fonts/GalanoGrotesqueMedium.otf') format('truetype');
}

@font-face {
  font-family: 'Galano Grotesque';
  src: url('/fonts/GalanoGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Squid Games';
  src: url('../assets/fonts/Game\ Of\ Squids.ttf');
}

.comingSoon {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.comingSoon .eventLogo {
  margin: 1.5rem 0 5rem 0;
  width: 150px;
}
.eventLogo img {
  width: 100%;
  /* margin-top: rem; */
}
.comingSoon .eventAbout .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comingSoon .eventAbout .heading span {
  font-family: 'Galano Grotesque medium', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 5.6rem;
  line-height: 6.2rem;
}
.comingSoon .eventAbout .heading img {
  width: 100%;
}
.comingSoon .eventAbout .subHeading {
  font-size: 1.2rem;
  font-family: 'Galano Grotesque', sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 90px;
}
.comingSoon .eventAbout img {
  margin-top: 1rem;
  width: 94%;
}
@media screen and (max-width: 1008px) {
  .comingSoon .eventAbout .heading span {
    font-size: 5.3rem;
    line-height: 5rem;
  }
}
@media (max-width: 948px) {
  .comingSoon .eventAbout .heading span {
    font-size: 4.8rem;
  }
}
@media (max-width: 873px) {
  .comingSoon .eventAbout .heading span {
    font-size: 4.2rem;
    line-height: 4rem;
  }
  .comingSoon .eventAbout .subHeading {
    font-size: 2.4rem;
  }
}
@media (max-width: 750px) {
  .comingSoon .eventAbout .heading span {
    font-size: 2.8rem;
    line-height: 2rem;
  }
  .comingSoon .eventAbout .subHeading {
    font-size: 2rem;
  }
}
@media (max-width: 550px) {
  .comingSoon .eventLogo {
    margin: 1.5rem 0 3.2rem 0;
    width: 120px;
  }
  .comingSoon .eventAbout .heading span {
    font-size: 2rem;
    line-height: 1.2rem;
  }
  .comingSoon .eventAbout .subHeading {
    font-size: 1.2rem;
    line-height: 3.8rem;
  }
  .eventLogo img {
    width: 100%;
    margin-top: -25rem;
  }
  .comingSoon .eventAbout img {
    margin-top: 0.1rem;
    width: 80%;
  }
}
