
:root {
  --primary-text: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(https://res.cloudinary.com/du196ag4l/image/upload/v1675338484/bg_rq4rql.svg),
    rgb(7, 1, 27);
  color: var(--primary-text);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}
@font-face {
  font-family: 'Galano Grotesque';
  src: url('/fonts/GalanoGrotesque-Regular.ttf') format('truetype');
}





