:root {
  --primary-text: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url(https://res.cloudinary.com/du196ag4l/image/upload/v1675338484/bg_rq4rql.svg),
    rgb(7, 1, 27);
  color: var(--primary-text);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0 6rem;
}

@media (max-width: 550px) {
  body {
    padding: 0 2rem;
  }
}

@font-face {
  font-family: 'Galano Grotesque';
  src: url('/fonts/GalanoGrotesque-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Galano Grotesque Bold';
  src: url('../components//assets/fonts/GalanoGrotesqueBold.otf')
    format('truetype');
}

/* User Register Styling Open*/
.RegisterForm {
  margin: 0 auto;
  width: 100%;
  min-height: 80vh;
  background: #0c0b20;
  border: 1.05682px solid #a3a3ab;
  box-shadow: -4px -4px 19px rgba(226, 227, 252, 0.12),
    4px 4px 18px rgba(226, 227, 252, 0.12);
  border-radius: 8px;
  padding: 0 2rem 1.5rem 2rem;
}

.formHeading {
  text-align: center;
  margin: 1.5rem 0;
  font-family: 'Galano Grotesque Bold';
  font-size: 2.5rem;
  color: #f3f3ff;
  text-shadow: -4px -4px 30px rgba(226, 227, 252, 0.4),
    4px 4px 30px rgba(226, 227, 252, 0.4);
}

.RegisterFormWrapper {
  display: flex;
  gap: 2rem;
}

.RegisterFormWrapper img {
  width: 400px;
}

.RegisterFormWrapper form {
  width: 100%;
}

.RegisterFormWrapper form .formLine {
  display: flex;
  width: 100%;
}

.RegisterFormWrapper form input,
.RegisterFormWrapper form select {
  padding: 0.5rem;
  background: #1f1d2e;
  backdrop-filter: blur(2.11364px);
  border-radius: 3px;
  margin: 0.4rem;
  outline: none;
}

.RegisterFormWrapper form .line1 input,
.RegisterFormWrapper form .line1 select {
  flex: 50%;
}

.RegisterFormWrapper form .line2 input {
  flex: 100%;
}

.RegisterFormWrapper form .line3 input {
  flex: 50%;
}

.RegisterFormWrapper form .line4 input {
  flex: 50%;
}

.RegisterFormWrapper form .line5 input,
.RegisterFormWrapper form .line5 select {
  flex: 50%;
}

.RegisterFormWrapper form .line6 input {
  flex: 50%;
}

.RegisterFormWrapper form .formLineBlock {
  display: flex;
  width: 80%;
}

.RegisterFormWrapper form .formLineBlock input {
  width: 100%;
}

.RegisterFormWrapper form .formLineBlock select {
  width: 100%;
}

.RegisterFormWrapper form input[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

.RegisterFormWrapper form button[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.4rem 1rem;
  margin: 1rem 0.4rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

.RegisterFormWrapper form span.Already {
  font-weight: bold;
  display: block;
}

/* User Register Styling Close */

.adminEventWrap {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
}

.adminEventCard {
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid #4936a7;
  padding: 1.5rem;
}

.adminEventCard img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.adminEventCard::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(11, 10, 28, 0.75);
  z-index: -1;
}

/* .adminEventCard .closeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
} */

/* .adminEventCard .closeBtn span {
  margin-left: 5px;
} */

.adminEventCard .toggleBtn {
  position: absolute;
  top: 10px;
  right: 80px;
  height: 35px;
  width: 35px;
  font-weight: bold;
  background: #715ae2;
  /* text-align: center; */
  /* line-height: 35px; */
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminEventCard .deleteBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 35px;
  width: 35px;
  font-weight: bold;
  background: #715ae2;
  /* text-align: center; */
  /* line-height: 35px; */
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  /* padding: ; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminEventCard .editBtn {
  position: absolute;
  top: 10px;
  right: 150px;
  height: 35px;
  width: 35px;
  font-weight: bold;
  background: #715ae2;
  /* text-align: center; */
  /* line-height: 35px; */
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adminEventCard .bottomBtn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.2rem;
  background: #715ae2;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
}

.adminEventCard .addEventBtn {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  background: #715ae2;
  font-weight: bold;
  font-size: 2.5rem;
  margin: 1rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.heading {
  font-size: 2.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  position: relative;
  display: inline-block;
}

input#pwd {
  width: 180px;
  padding: 3px;
  color: #000;
  float: left;
  margin-right: 10px;
}

#pwd_strength_wrap {
  border: 1px solid #d5cec8;
  display: none;
  float: left;
  padding: 10px;
  position: relative;
  width: 320px;
}

#pwd_strength_wrap:before,
#pwd_strength_wrap:after {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  border: 10px solid transparent;
  /* arrow size */
}

#pwd_strength_wrap:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0.1);
  border-top: 7px solid rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  left: -18px;
  position: absolute;
  top: 10px;
}

#pwd_strength_wrap:after {
  border-bottom: 6px solid rgba(0, 0, 0, 0);
  border-right: 6px solid #fff;
  border-top: 6px solid rgba(0, 0, 0, 0);
  content: '';
  display: inline-block;
  left: -16px;
  position: absolute;
  top: 11px;
}

#pswd_info ul {
  list-style-type: none;
  margin: 5px 0 0;
  padding: 0;
}

#pswd_info ul li {
  /* background: url(icon_pwd_strength.png) no-repeat left 2px; */
  padding: 0 0 0 20px;
}

#pswd_info ul li.valid {
  background-position: left -42px;
  color: green;
}

#passwordStrength {
  display: block;
  height: 5px;
  margin-bottom: 10px;
  transition: all 0.4s ease;
}

.strength0 {
  background: none;
  /* too short */
  width: 0px;
}

.strength1 {
  background: none repeat scroll 0 0 #ff4545;
  /* weak */
  width: 25px;
}

.strength2 {
  background: none repeat scroll 0 0 #ffc824;
  /* good */
  width: 75px;
}

.strength3 {
  background: none repeat scroll 0 0 #6699cc;
  /* strong */
  width: 100px;
}

.strength4 {
  background: none repeat scroll 0 0 #008000;
  /* best */
  width: 150px;
}

/* Event Added By Admin CSS */

.adminEventAddForm {
  padding: 2rem;
  margin: 2rem 0;
  background: #0c0b20;
  border: 1.05682px solid #a3a3ab;
  box-shadow: -4px -4px 19px rgba(226, 227, 252, 0.12),
    4px 4px 18px rgba(226, 227, 252, 0.12);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.adminEventAddForm input,
.adminEventAddForm textarea,
.adminEventAddForm select {
  padding: 0.5rem;
  background: #1f1d2e;
  backdrop-filter: blur(2.11364px);
  border-radius: 3px;
  margin: 0.5rem;
  outline: none;
}
.adminEventAddLine1 {
  display: flex;
  gap: 0.5rem;
}
.adminEventAddLine1 input {
  flex: 50%;
}
.adminEventAddLine2 {
  display: flex;
  gap: 0.5rem;
}
.adminEventAddLine2 .fileInput {
  position: relative;
  padding: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #1f1d2e;
  backdrop-filter: blur(2.11364px);
  border-radius: 3px;
  margin: 0.4rem;
  min-width: 150px;
  height: 150px;
}
.adminEventAddLine2 .fileInput input[type='file'] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}
.adminEventAddLine2 textarea {
  width: 100%;
}
.adminEventAddLine3 {
  display: flex;
}
.adminEventAddLine3 input {
  flex: 1;
}
.adminEventAddLine3 .fileInput {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  background: #1f1d2e;
  backdrop-filter: blur(2.11364px);
  border-radius: 3px;
  margin: 0.4rem;
}
.adminEventAddLine3 .fileInput input[type='file'] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}
.adminEventAddForm input[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  width: 180px;
}
/* Event Added By Admin CSS */
.RegisterForm {
  padding: 20px;
}

.formHeading {
  font-size: 36px;
}

.RegisterFormWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.formLineBlock {
  width: 50%;
}

.mail {
  width: 100%;
}

.btn {
  width: auto;
  margin-top: 0;
  margin-left: 10px;
}

.Already {
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .RegisterForm {
    padding: 10px;
  }
  .formHeading {
    font-size: 24px;
  }
  .RegisterFormWrapper {
    display: flex;
    flex-direction: column;
  }
  .RegisterFormWrapper > div {
    display: flex;
    flex-direction: column;
  }
  .formLineBlock {
    width: 80%;
  }
  .mail {
    width: 80%;
    margin-bottom: 10px;
  }
  .btn {
    width: 80%;
    margin-top: 10px;
    justify-content: center;
  }
  .Already {
    font-size: 14px;
  }
}

/* styles for larger screens */
@media only screen and (min-width: 601px) {
  .RegisterForm {
    padding: 20px;
  }
  .formHeading {
    font-size: 36px;
  }
  .RegisterFormWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .formLineBlock {
    width: 50%;
  }
  .mail {
    width: 100%;
  }
  .btn {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
  }
  .Already {
    font-size: 18px;
  }
}

.login-body {
  border: 2px solid red;
}
.login {
  border: 2px solid green;
}

.RegisterForm {
  padding: 20px;
}

.formHeading {
  font-size: 36px;
}

.RegisterFormWrapper {
  display: flex;
  align-items: center;
}

.formLineBlock {
  width: 30%;
}

.mail {
  width: 100%;
}

.btn {
  width: auto;
  margin-top: 0;
  margin-left: 10px;
}

.Already {
  font-size: 18px;
}

/* styles for mobile screens */
@media only screen and (max-width: 600px) {
  .RegisterForm {
    padding: 10px;
  }
  .formHeading {
    font-size: 24px;
  }
  .RegisterFormWrapper {
    flex-direction: column;
  }
  .formLineBlock {
    width: 100%;
  }
  .mail {
    width: 100%;
    margin-bottom: 10px;
  }
  .btn {
    width: 100%;
    margin-top: 10px;
  }
  .Already {
    font-size: 14px;
  }
}

/* styles for larger screens */
@media only screen and (min-width: 601px) {
  .RegisterForm {
    padding: 20px;
  }
  .formHeading {
    font-size: 36px;
  }
  .RegisterFormWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .formLineBlock {
    width: 50%;
  }
  .mail {
    width: 100%;
  }
  .btn {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
  }
  .Already {
    font-size: 18px;
  }
}

.RegisterForm {
  margin: 0 auto;
  width: 100%;
  min-height: 80vh;
  background: #0c0b20;
  border: 1.05682px solid #a3a3ab;
  box-shadow: -4px -4px 19px rgba(226, 227, 252, 0.12),
    4px 4px 18px rgba(226, 227, 252, 0.12);
  border-radius: 8px;
  padding: 0 2rem 1.5rem 2rem;
}

.formHeading {
  text-align: center;
  margin: 1.5rem 0;
  font-family: 'Galano Grotesque Bold';
  font-size: 2.5rem;
  color: #f3f3ff;
  text-shadow: -4px -4px 30px rgba(226, 227, 252, 0.4),
    4px 4px 30px rgba(226, 227, 252, 0.4);
}

.RegisterFormWrapper {
  display: flex;
  gap: 10rem;
  justify-content: space-around;
}

.RegisterFormWrapper img {
  width: 400px;
}

.RegisterFormWrapper form {
  margin-left: 12rem;
  width: 100%;
}

.RegisterFormWrapper form .formLine {
  display: flex;
  width: 100%;
}

.RegisterFormWrapper form input,
.RegisterFormWrapper form select {
  padding: 0.5rem;
  background: #1f1d2e;
  backdrop-filter: blur(2.11364px);
  border-radius: 3px;
  margin: 0.4rem;
  outline: none;
}

.RegisterFormWrapper form .line1 input,
.RegisterFormWrapper form .line1 select {
  flex: 50%;
}

.RegisterFormWrapper form .line2 input {
  flex: 100%;
}

.RegisterFormWrapper form .line3 input {
  flex: 50%;
}

.RegisterFormWrapper form .line4 input {
  flex: 50%;
}

.RegisterFormWrapper form .line5 input,
.RegisterFormWrapper form .line5 select {
  flex: 50%;
}

.RegisterFormWrapper form .line6 input {
  flex: 50%;
}

.RegisterFormWrapper form .formLineBlock {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.RegisterFormWrapper form .formLineBlock input {
  width: 50%;
}

.RegisterFormWrapper form .formLineBlock select {
  width: 50%;
}

.RegisterFormWrapper form input[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
}

.RegisterFormWrapper form button[type='submit'] {
  background: rgba(73, 54, 167, 0.2);
  border: 1px solid #4936a7;
  padding: 0.4rem 1rem;
  margin: 1rem 0.4rem;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  width: 40%;
}

.RegisterFormWrapper form button.Already {
  /* font-weight: bold; */
  font-size: 0.8rem;
  text-decoration: underline;
  /* display: block; */
  /* text-align: left; */
  margin-left: 10rem;
}

.RegisterFormWrapper form span.Already {
  font-size: 0.8rem;
}

@media (max-width: 1100px) {
  .RegisterFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }
  .RegisterFormWrapper form button.Already {
    margin-left: 15rem;
  }
}

@media (max-width: 800px) {
  .RegisterFormWrapper form button.Already {
    margin-left: 8rem;
  }
}

@media only screen and (min-width: 601px) {
  .RegisterForm {
    padding: 20px;
  }
  .formHeading {
    font-size: 36px;
  }
  .RegisterFormWrapper {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
  }

  .formLineBlock {
    width: 50%;
  }
  .mail {
    width: 100%;
  }
  .btn {
    width: auto;
    margin-top: 0;
    margin-left: 10px;
  }
  .Already {
    font-size: 18px;
  }
}

.formLineBlock .form_label {
  margin: 0.4rem;
}
